.Cards {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: left;
    padding-top: 50px;
    height: 100vh;
    box-sizing: border-box;
}
.Cards .PersonGroup {
    display: flex;
    flex-direction: column-reverse;
}