body {
  background-color: blueviolet;
}

.App {
  text-align: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}


@media (max-width: 1200px){
  .container {
    width: 100%;
  }
}